*{
    margin: 0;
    padding: 0;
}

.titulo{
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.links{
    background-color: green;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 0 0 5px 0;
    box-shadow: 1px 2px grey;
    margin-bottom: 10px;
}

.conteudo{
    margin-top: 120px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
}
.conteudoUnico{
    margin-top: 120px;
    width: 25%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
}

.acervo{
    margin-top: 20px;
    text-align: center;
}

.cadastro{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

.notification{
    margin-top: 10px;
    text-align: center;
    color: red;
}

.submeter{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
}

.sucesso{
    margin-top: 10px;
    text-align: center;
    color: green;
}

.listaCadastrados{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

.cadastroRow{
    margin-top: 10px;
}

.contain{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.left{
    width: 30%;
    float: left;
    margin-left: 15%;
}

.right{
    width: 30%;
    float: right;
    margin-right: 15%;
}
