*{
    margin: 0;
    padding: 0;
}

.titulo, .admin{
    background-color: green;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.titulo{
    text-align: center;
}

.admin{
    margin-bottom: 25px;
}

.voltar{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.cadastro{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

.cadastroRow{
    margin-top: 10px;
}